<body>
 <div class="container" >

    <div class="row justify-content-center">
      <div class="col-md-7 col-lg-5">
        <div class="login-wrap p-4 p-md-5">
          <div class="icon d-flex align-items-center justify-content-center">
            <img id="sficon" src="../../assets/images/salesforce.PNG" alt="salesforceIcon">

          </div>
          <h2>Welcome </h2>
          <form #f="ngForm" class="login-form">
            <div class="form-group">
              <div class="form-row justify-content-center">

              <mat-form-field class="example-full-width">
                <mat-label>login </mat-label>
                <input matInput name="username" [(ngModel)]="user.username"  required>
              </mat-form-field>
            </div>
          </div>

            <div class="form-group">
              <div class="form-row justify-content-center">

              <mat-form-field class="example-full-width">
                <mat-label>Password </mat-label>
                <input matInput type="password" name="password" [(ngModel)]="user.password"  required>
              </mat-form-field>
            </div>

            </div>
            <div class="form-group">
              <button (click)="onLoggedin()" [disabled]="user.username==='' || user.password===''" class="form-control btn btn-primary rounded submit px-3">Log In</button>
            </div>
            <div  class="alert alert-danger" *ngIf="err==1">
                <strong>login ou mot de passe erronés..</strong>
               </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</body>